<div data-profile-target="preview" class="d-none">
  <div class="form-group">
    <label class="form-label">Total calories intake per day</label>
    <input type="number" name="profile[calories_per_day]" class="form-control" data-profile-target="calories">
  </div>
  <div class="form-group">
    <label class="form-label">Total carbs intake per day</label>
    <input type="number" name="profile[carbs_per_day]" class="form-control" data-profile-target="carbs">
  </div>
  <div class="form-group">
    <label class="form-label">Total protein intake per day</label>
    <input type="number" name="profile[protein_per_day]" class="form-control" data-profile-target="protein">
  </div>
</div>
