<div data-profile-target="preview" class="d-none">
  <div class="form-group">
    <label>Total calories intake per day</label>
    <input type="number" name="profile[total_calorie]" class="form-control" data-profile-target="calories">
  </div>
  <div class="form-group">
    <label>Total carbs intake per day</label>
    <input type="number" name="profile[total_carbs]" class="form-control" data-profile-target="carbs">
  </div>
  <div class="form-group">
    <label>Total protein intake per day</label>
    <input type="number" name="profile[total_protein]" class="form-control" data-profile-target="protein">
  </div>
</div>
