<%= javascript_pack_tag 'recipe-swiper-bundle' %>

<h1 class="text-3xl font-bold centre">What do you fancy cooking tonight?</h1>
<%= react_component("RecipeSwiper", props: @props, prerender: false) %>
