<%= javascript_pack_tag 'recipe-swiper-bundle' %>
<div class="flex items-center justify-center" style="height: 100vh;">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl text-pink-500 my-4" style="text-align: center">What do you fancy cooking tonight?</h1>
    <br/>
    <%= react_component("RecipeSwiper", {props: @props, className: "w-full mx-auto px-4 max-w-sm rounded-xl", prerender: false}) %>
  </div>
</div>
