<%= javascript_pack_tag 'recipe-bundle' %>
<main>
<h1><%= @recipe.name %></h1>
<%= image_tag @recipe.thumbnail, alt: "#{@recipe.name}_image" %>

<%= react_component("Recipe",
    initialData: {
      recipe: @recipe.as_json(include: { ingredients_recipes: { include: :ingredient } })},
      profiles: current_user&.profiles.presence) %>


</main>
