<nav class="bg-white shadow px-4 py-2">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <%= link_to "#", class: "flex items-center" do %>
      <%= image_tag 'logo.png', class: "h-4 w-auto" %>
    <% end %>

    <div class="hidden sm:block">
      <ul class="flex space-x-4 items-center">
        <% if user_signed_in? %>
          <li class="relative">
            <div class="flex items-center">
              <p class="text-gray-700">Welcome back, <%= current_user %>!</p>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "text-gray-600 hover:text-gray-900" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
